button:focus {
    outline: 0;
}

.button,
[class*="button-"] {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 0.5rem;
    text-decoration: none;
    letter-spacing: .125rem;
    color: white;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;

    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button--primary {
    background: var(--primary-color);
}

.button--secondary {
    background: var(--second-color);
}

.button--small {
    font-size: .6625rem;
    padding: .625rem 1rem;
}


.button--large {
    line-height: 2.3;
    padding: 1rem 1.5rem;
}