* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'PT Sans', sans-serif;
    // font-family: 'Fira Sans', sans-serif;
    // font-family: 'Fira Mono', monospace;
    // font-family: 'IBM Plex Sans', sans-serif;
    // font-family: 'Ubuntu', sans-serif;

    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}