:root {
    --primary-color     : #214760;
    --second-color      : #FE8E29;

    --breakpoint-xs     : 0;
    --breakpoint-sm     : 576px;
    --breakpoint-md     : 768px;
    --breakpoint-lg     : 992px;
    --breakpoint-xl     : 1200px;
}

$breakpoint-xs     : 0;
$breakpoint-sm     : 767px;
$breakpoint-md     : 768px;
$breakpoint-lg     : 992px;
$breakpoint-xl     : 1024px;